@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The formost authority for the good hummor that you will find anywhere on your local machine.</p>
</div>
